@font-face {
  font-family: chacha;
  src: url(./digital-clock.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: chacha;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.in {
    width: 80%;
    max-width: 900px;
    background-color: gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 2% 0;
    box-shadow: 0 0 10px rgba(237, 233, 233, 0.3);
}

.time {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#hrs, #min, #sec, #day ,#dot1 , #dot2 ,h3{
  color: black;
    font-family: chacha;

}
#dot1{

    font-size: 4vw;
}
#dot2{
     font-size: 2vw;
}

#hrs {
    font-size: 10vw;
}

#min {
    font-size: 7vw;
}

#sec {
    font-size: 5vw;
}

.days {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#day {
    font-size: 3vw;
}

    .digital{
         width: 80%;
    max-width: 900px;
     
       display: flex;
       align-items: center;
       justify-content: center;
}
.digital h1{
    color: rgb(250, 235, 215);
  font-family: chacha;
  font-size: 3vw;
  letter-spacing: 0.5vw;
       
}


@media (max-width: 500px) {
    .in {
        width: 90%;
        gap: 3%;
    }

    .time {
        gap: 3%;
    }

    

}


@media (max-width: 500px) {
    .digital {
        width: 90%;
        gap: 3%;
    }


    
}


